In [34]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv("data.csv")

In [4]:
data.head()

,Unnamed: 0,Brandon,Cameron,Christian,Colby,Daniel,Darwin,Evan,Jake,Jordan,Nathan,Patrick,Timmy,Tommy
0,Brandon,0,1,-1,0,0,0,0,0,1,-1,0,0,1
1,Cameron,0,0,-1,1,1,0,0,0,0,0,0,0,1
2,Christian,0,0,0,0,0,-1,0,1,0,0,0,0,0
3,Colby,0,0,0,0,0,0,0,0,NaN,0,0,0,0
4,Daniel,0,0,0,0,0,0,0,0,0,0,0,0,0

In [35]:
data.apply(np.cumsum)

    0   1   2   3   4   5   6   7   8   9   10  11  12
0    0   1  -1   0   0   0   0   0   1  -1   0   0   1
1    0   1  -2   1   1   0   0   0   1  -1   0   0   2
2    0   1  -2   1   1  -1   0   1   1  -1   0   0   2
3    0   1  -2   1   1  -1   0   1 NaN  -1   0   0   2
4    0   1  -2   1   1  -1   0   1   1  -1   0   0   2
5    0   1  -2   2   2  -1   0   2   1  -1   0   0   2
6    0   2  -2   3   2  -1   0   2   1  -1   0   0   2
7    0   2  -2   3   3   0   0   2   1  -1   1   0   2
8    0   2  -2   3   3   0   0   2   1  -1   1   0   2
9    0   2  -2   3   4   0   0   2   1  -1   1   0   2
10   0   2  -2   3   5   0   0   3   1  -1   1   1   2
11   0   2  -2   3   6   0   0   3   1   0   1   1   3
12  -1   3  -2   4   6   0   0   3   0   0   1   2   3