In [6]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv("data.csv")

In [4]:
data.head()

,Unnamed: 0,Brandon,Cameron,Christian,Colby,Daniel,Darwin,Evan,Jake,Jordan,Nathan,Patrick,Timmy,Tommy
0,Brandon,0,1,-1,0,0,0,0,0,1,-1,0,0,1
1,Cameron,0,0,-1,1,1,0,0,0,0,0,0,0,1
2,Christian,0,0,0,0,0,-1,0,1,0,0,0,0,0
3,Colby,0,0,0,0,0,0,0,0,NaN,0,0,0,0
4,Daniel,0,0,0,0,0,0,0,0,0,0,0,0,0

In [15]:
sums = data.sum()

Unnamed: 0    BrandonCameronChristianColbyDanielDarwinEvanJa...
Brandon                                                      -1
Cameron                                                       3
Christian                                                    -2
Colby                                                         4
dtype: object